<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Crops For the Future - Sentiment Analysis</title>
<link rel="shortcut icon" href="../static/img/logo.png">
<link href="../static/css/style.css" rel="stylesheet" type="text/css">
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css">
	
	<style type="text/css">
		html * {
		font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
		}
	</style>
</head>

<body>
<div class="bgimage"></div>

<div class="main1" id="main1">
  <img alt="CFF" style="display: block; margin: -2% auto; margin-bottom: 10%; height: 150%;" src="../static/img/logo.png">
    <form id="search_form" method="POST">
	    <input type="search" class="srchbox" id="srchbox" placeholder="Search crop..." name="search">

      <select name="select" class="drpdwn" id="tweet">
        <option value="1000">last 1,000 tweets</option>
        <option value="2000">last 2,000 tweets</option>
        <option value="5000">last 5,000 tweets</option>
        <option value="10000">last 10,000 tweets</option>
        <option value="100000">whole database</option>
      </select>
      <input id="srchbtn" class="btn btn-default" type = "submit" value = "Search" />
    </form>

	<div class="eswdiv" id="eswdiv"><p id="emptysearchwarning">Please enter crop name!</p></div>
	<div class="ncwdiv" id="ncwdiv"><p id="ncwarning">Only text without numbers and symbols accepted!</p></div>
</div>


<div class="main2" id="main2">
  <p id="searchtext"></p>
	<table style="width:100%; margin-top: 3%;">
		<tbody>
			<tr>
				<td id="c0d" onMouseOver="desc(this.id)" onMouseOut="descdft()"><div id="container"></div></td>
				<td id="c1d" onMouseOver="desc(this.id)" onMouseOut="descdft()"><div id="container1"></div></td>
				<td id="c2d" onMouseOver="desc(this.id)" onMouseOut="descdft()"><div id="container2"></div></td>
				<td id="c3d" onMouseOver="desc(this.id)" onMouseOut="descdft()"><div id="container3"></div></td>
				<td id="c4d" onMouseOver="desc(this.id)" onMouseOut="descdft()"><div id="container4"></div></td>
			</tr>
			<tr>
				<td><h4 id="info"></h4></td>
				<td><h4 id="info1"></h4></td>
				<td><h4 id="info2"></h4></td>
				<td><h4 id="info3"></h4></td>
				<td><h4 id="info4"></h4></td>
			</tr>
		</tbody>
	</table>
	<h3 id="finalMessage"></h3>
	<div id="descboxmain1">
		<p id="descriptiontxt" onload="descdft()"></p>
	</div>
	<button id="cancelbtn" onClick="cancel()" type="button" class="btn btn-default">Cancel</button>
	<button id="results" onClick="progresscomplete()" type="button" class="btn button btn-default">Show Results</button>
</div>

<div class="main3" id="main3">
	<div id="descboxmain2">
		<p>Overall impression is <span id="positivity"></span>!</p>
		<p>Polarity: <span id="polarityValue"></span></p>
	</div>
	<!--<img id="resultimg" alt="Result">-->
	<p id="resultsText"></p>
	<span id="resultimg" class="glyphicon"></span>
	<p>Trained data overview:</p>

      <table id="resultsTable" class="table-bordered">
        <tbody>
          <tr>
            <th>Tweets</th>
            <th style="width:20%">Result</th>
            </tr>
		  </tbody>
		</table>
	<div id="tweetsdiv" style="position: relative; height: 25%; width: 90%; margin-top: 0; margin-right: auto; margin-left: auto; margin-bottom: 0%; overflow-y: auto;">
		<table id="tweets" class="table-bordered">
			 <tbody>

			 </tbody>
        </table>
    </div>

	<button id="backbtn" onClick="back()" type="button" class="btn btn-default"><span id="home" class="glyphicon">&#xe021;</span></button>
</div>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!--The following script tag downloads a font from the Adobe Edge Web Fonts server for use within the web page. We recommend that you do not modify it.-->


<script type="text/javascript" src="../static/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../static/bootstrap.js"></script>
<script type="text/javascript" src="../static/progressbar.min.js"></script>
<script>
	// progressbar.js@1.0.0 version is used
	// Docs: http://progressbarjs.readthedocs.org/en/1.0.0/

	var finalMessage = document.getElementById('finalMessage');
	var tweetAmount = document.getElementById('tweet');
	var avgStroke = 6;
	var avgTrail = 4;
	// Loading times may vary per progress bar, used for debugging purposes for now
	var avgLoading = 1000;

	var bar = new ProgressBar.Circle(container, {
  		color: '#aaa',
  		// This has to be the same size as the maximum width to
  		// prevent clipping
  		strokeWidth: avgStroke,
  		trailWidth: avgTrail,
  		easing: 'easeInOut',
  		duration: avgLoading,
  		text: {
    		autoStyleContainer: false
  		},
  		from: { color: '#aaa', width: avgTrail },
  		to: { color: '#253E6B', width: avgStroke },
  		// Set default step function for all animate calls
  		step: function(state, circle) {
    		circle.path.setAttribute('stroke', state.color);
    		circle.path.setAttribute('stroke-width', state.width);

			var value = Math.round(circle.value() * 100);
    		if (value === 0) {
     			circle.setText('');
    		} else {
				circle.setText(value + "%");
    		}

  		}
	});
	bar.text.style.fontFamily = 'Helvetica, sans-serif';
	bar.text.style.fontSize = '5rem';
	bar.text.style.color= '#333';

	var bar1 = new ProgressBar.Circle(container1, {
  		color: '#aaa',
  		// This has to be the same size as the maximum width to
  		// prevent clipping
  		strokeWidth: avgStroke,
  		trailWidth: avgTrail,
  		easing: 'easeInOut',
  		duration: avgLoading,
  		text: {
    		autoStyleContainer: false
  		},
  		from: { color: '#aaa', width: avgTrail },
  		to: { color: '#96B53C', width: avgStroke },
  		// Set default step function for all animate calls
  		step: function(state, circle) {
    		circle.path.setAttribute('stroke', state.color);
    		circle.path.setAttribute('stroke-width', state.width);

			var value = Math.round(circle.value() * 100);
    		if (value === 0) {
     			circle.setText('');
    		} else {
				circle.setText(value + "%");
    		}

			if (value == 100) {
				loadingBar2();
			}
  		}
	});
	bar1.text.style.fontFamily = 'Helvetica, sans-serif';
	bar1.text.style.fontSize = '5rem';
	bar1.text.style.color= '#333';

	var bar2 = new ProgressBar.Circle(container2, {
  		color: '#aaa',
  		// This has to be the same size as the maximum width to
  		// prevent clipping
  		strokeWidth: avgStroke,
  		trailWidth: avgTrail,
  		easing: 'easeInOut',
  		duration: avgLoading,
  		text: {
    		autoStyleContainer: false
  		},
  		from: { color: '#aaa', width: avgTrail },
  		to: { color: '#ED802C', width: avgStroke },
  		// Set default step function for all animate calls
  		step: function(state, circle) {
    		circle.path.setAttribute('stroke', state.color);
    		circle.path.setAttribute('stroke-width', state.width);

			var value = Math.round(circle.value() * 100);
    		if (value === 0) {
     			circle.setText('');
    		} else {
				circle.setText(value + "%");
    		}

			if (value == 100) {
				loadingBar3();
			}
  		}
	});
	bar2.text.style.fontFamily = 'Helvetica, sans-serif';
	bar2.text.style.fontSize = '5rem';
	bar2.text.style.color= '#333';

	var bar3 = new ProgressBar.Circle(container3, {
  		color: '#aaa',
  		// This has to be the same size as the maximum width to
  		// prevent clipping
  		strokeWidth: avgStroke,
  		trailWidth: avgTrail,
  		easing: 'easeInOut',
  		duration: avgLoading,
  		text: {
    		autoStyleContainer: false
  		},
  		from: { color: '#aaa', width: avgTrail },
  		to: { color: '#97B0D0', width: avgStroke },
  		// Set default step function for all animate calls
  		step: function(state, circle) {
    		circle.path.setAttribute('stroke', state.color);
    		circle.path.setAttribute('stroke-width', state.width);

			var value = Math.round(circle.value() * 100);
    		if (value === 0) {
     			circle.setText('');
    		} else {
				circle.setText(value + "%");
    		}

			if (value == 100) {
				loadingBar4();
			}
  		}
	});
	bar3.text.style.fontFamily = 'Helvetica, sans-serif';
	bar3.text.style.fontSize = '5rem';
	bar3.text.style.color= '#333';

	var bar4 = new ProgressBar.Circle(container4, {
  		color: '#aaa',
  		// This has to be the same size as the maximum width to
  		// prevent clipping
  		strokeWidth: avgStroke,
  		trailWidth: avgTrail,
  		easing: 'easeInOut',
  		duration: avgLoading,
  		text: {
    		autoStyleContainer: false
  		},
  		from: { color: '#aaa', width: avgTrail },
  		to: { color: '#fff', width: avgStroke },
  		// Set default step function for all animate calls
  		step: function(state, circle) {
    		circle.path.setAttribute('stroke', state.color);
    		circle.path.setAttribute('stroke-width', state.width);

			var value = Math.round(circle.value() * 100);
    		if (value === 0) {
     			circle.setText('');
    		} else {
				circle.setText(value + "%");
    		}
			// Last progress bar shows the final message
			if (value == 100) {
				finalMessage.innerHTML = "Done!";
				document.getElementById("results").style = "opacity: 1;";
				document.getElementById("results").disabled = false;
			} else {
				finalMessage.innerHTML = "...";
				document.getElementById("results").style = "opacity: 0;";
			}
  		}
	});
	bar4.text.style.fontFamily = 'Helvetica, sans-serif';
	bar4.text.style.fontSize = '5rem';
	bar4.text.style.color= '#333';

	document.getElementById('search_form').addEventListener('submit', function (e) {
	    e.preventDefault();
	    search();
	}  , false);

	
	
	function search() {
		var search = document.getElementById("srchbox").value;
		var select = document.getElementById("tweet").value;
		var searchtext = document.getElementById("searchtext");
		descdft();
		resetAll();
		Response=0;
		console.log(search);
		//@TODO: ajax!!!
        $.ajax({
            url: "/",
            type: "POST",
            data: {search : search , select : select },
            success: function(response){
                Response =response;
                console.log(response);
               // insertData(Response);
				loadingBar1();

            },
            error : function(xhr,errmsg,err) {
            // show status code and response content
				
				searchtext.style.opacity=0;
				setTimeout(function(){
					searchtext.innerHTML = "Sorry, no tweets have been found.";
					searchtext.style.opacity=1;
				}, 400);			
				
                Response == -1;
                //cancel();
            }
        });
        //request.setRequestHeader("Content-type","application/x-www-form-urlecoded"
		

		document.getElementById("results").disabled = true;
		if (search == "") {
			document.getElementById("ncwdiv").style.opacity="0";
			document.getElementById("eswdiv").style.opacity="0.7";
		} else if (!search.match(/^[a-zA-Z\s]*$/)){ //check for alphabets only
			document.getElementById("eswdiv").style.opacity="0";
			document.getElementById("ncwdiv").style.opacity="0.7";
		} else {
			document.getElementById("eswdiv").style.opacity="0";
			document.getElementById("ncwdiv").style.opacity="0";
			document.getElementById("main1").style="transition-delay:0s; opacity:0; top:-20%;";
			document.getElementById("main2").style="transition-delay:0.3s; top:5%; opacity:1;";
			var main1 = document.getElementById("main1");
			main1.style.top="-20%";
			searchtext.innerHTML = "Searching " + search + "...";
			loadingBar();


		}

		return false;
	}
	
	

	function cancel() {
		if (Response == -1) {
			Response = 0;
			stopAll();
		} else {
			Response=0;
			document.getElementById("main1").style="transition-delay:0.3s; top:25%;";
			document.getElementById("main2").style="transition-delay:0s; opacity:0;";
			document.getElementById("tweets").innerHTML='';
			
		}
		
			
	}

	function back() {
		document.getElementById("main1").style="transition-delay:0.3s; top:25%;";
		document.getElementById("main2").style="transition-delay:0s; opacity:0; top:100%;";
		document.getElementById("main3").style="transition-delay:0s; opacity:0; top: 100%";
		document.getElementById("tweets").innerHTML='';

		Response= 0;
		
	}

	function progresscomplete() {
		var search = document.getElementById("srchbox").value;
		var impression = document.getElementById("positivity");
		var results = document.getElementById("resultsText");
        positive =0;
        for (var i = 0; i < Response.length; i++) {
            if (Response[i].Polarity == '"positive"') {
                positive+=1;
            }
        }
        polarity = (positive/Response.length)*100;
        console.log(polarity)
        //condition to select result image (positive or negative)
			if (polarity < 50) {
				//document.getElementById("resultimg").src="img/negative.png";
				document.getElementById("resultimg").style="color: #ff0000;";
				document.getElementById("resultimg").classList.remove('glyphicon-ok');
				document.getElementById("resultimg").classList.add('glyphicon-remove');
			} else {
				//document.getElementById("resultimg").src="img/positive.png";
				document.getElementById("resultimg").style="color: #009300;";
				document.getElementById("resultimg").classList.add('glyphicon-ok');
				document.getElementById("resultimg").classList.remove('glyphicon-remove');
			}

		document.getElementById("main2").style="transition-delay:0s; opacity:0; top:-100%;";
		document.getElementById("main3").style="transition-delay:0.3s; top:5%; opacity:1;";
		switch(tweetAmount.value) {
			case '1000':
				results.innerHTML = "Results for &quot" + search + "&quot in the last 1,000 tweets:";
				break;
			case '2000':
				results.innerHTML = "Results for &quot" + search + "&quot in the last 2,000 tweets:";
				break;
			case '5000':
				results.innerHTML = "Results for &quot" + search + "&quot in the last 5,000 tweets:";
				break;
			case '10000':
				results.innerHTML = "Results for &quot" + search + "&quot in the last 10,000 tweets:";
				break;
			case 'all':
				results.innerHTML = "Results for &quot" + search + "&quot in the entire database:";
				break;
		}
		if (polarity > 50 && polarity <= 100) {
			impression.style = "color:#009300;";
			impression.innerHTML = "positive";
		} else if (polarity >= 0 && polarity < 50) {
			impression.style = "color:#ff0000;";
			impression.innerHTML = "negative";
		} else {
			impression.style = "color:white";
			impression.innerHTML = "neutral";
		}
		document.getElementById("polarityValue").innerHTML = polarity + "%";
		insertData(Response);
		
		var tweetsdiv = document.getElementById("tweetsdiv");
		if (isOverflown(tweetsdiv)){
			tweetsdiv.style.width = "91.1%";
			tweetsdiv.style.marginLeft = "5%";
		} else {
			tweetsdiv.style.width = "90%";
		}

	}

	//description box contents
	function desc(id) {
		document.getElementById("descriptiontxt").style.opacity=0;
		setTimeout(function(){
		switch(id){
			case "c0d":
				document.getElementById("descriptiontxt").innerHTML="Searching for tweets<br><h1>Building the Testing dataset by looking up tweets that contain the keyword(s) &quot" + document.getElementById("srchbox").value + "&quot</h1>";
				break;
			case "c1d":
				document.getElementById("descriptiontxt").innerHTML="Retrieving training data<br><h1>Building the Training dataset by looking up trained tweets that contain the keyword(s) &quot" + document.getElementById("srchbox").value + "&quot</h1>";
				break;
			case "c2d":
				document.getElementById("descriptiontxt").innerHTML="Preprocessing data<br><h1>Converting retrieved tweets (both trained and untrained) to lower-case while removing links, hashtags and usernames (if any)</h1>";
				break;
			case "c3d":
				document.getElementById("descriptiontxt").innerHTML="Training data<br><h1>Using Naive Bayes' Classification to get the polarity and the number of matching tweets</h1>";
				break;
			case "c4d":
				document.getElementById("descriptiontxt").innerHTML="Retrieving results<br><h1>Calculating the overall polarity percentage from the newly-trained data</h1>";
				break;
		}
		document.getElementById("descriptiontxt").style.opacity=1;
		},150);
	}

	function insertData(obj) {
        var table = document.getElementById("tweets");
		var total = obj.length;
		//var input = ' {"tweets": [{ "text": "qwertyasdf", "label": 1 }, { "text": "ytrewqfdsa", "label": 0 }, { "text": "qwertyuiop", "label": 1 }, { "text": "asdfghjklp", "label": 0 } ]}';

        //obj = JSON.parse(input);
		for (var i = 0; i < total; i++) {
			var row = table.insertRow(-1);
			var text = row.insertCell(0);
			var label = row.insertCell(1);
			text.innerHTML = obj[i].text;
			if (i == 0) {
				text.style = "width: 80%";
			}
			if (obj[i].Polarity == '"positive"') {
				label.style = "color: #00ff00";
				label.innerHTML = "&#10004;";
			} else if (obj[i].Polarity == '"negative"') {
				label.style = "color: #ff0000";
				label.innerHTML = "&#10006;";
			}
		}
	}

	function isOverflown(element) { //check if scrollbar is needed in results table
    return element.scrollHeight > element.clientHeight;
	}
	
	function descdft() {
		document.getElementById("descriptiontxt").style.opacity=0;
		setTimeout(function(){
		document.getElementById("descriptiontxt").innerHTML="Description<br><h1>Hover on progress bars to see description of task being performed</h1>";
			document.getElementById("descriptiontxt").style.opacity=1;
		}, 150);
	}

	function loadingBar() {
		info.innerHTML = "Searching for tweets...";
		bar.animate(1.0);  // Number from 0.0 to 1.0
	}
	function loadingBar1() {
		info1.innerHTML = "Retrieving training data...";
		bar1.animate(1.0);  
	}
	function loadingBar2() {
		info2.innerHTML = "Preprocessing data...";
		bar2.animate(1.0);  
	}
	function loadingBar3() {
		info3.innerHTML = "Training data...";
		bar3.animate(1.0);  
	}
	function loadingBar4() {
		info4.innerHTML = "Retrieving results...";
		bar4.animate(1.0);  
	}
	
	// Used to halt progress upon clicking 'cancel', followed
	// by the resetAll function
	function stopAll() {
		bar.stop();
		bar1.stop();
		bar2.stop();
		bar3.stop();
		bar4.stop();
	}
	
	function resetAll() {
		info.innerHTML = "";
		bar.set(0);
		
		info1.innerHTML = "";
		bar1.set(0);
		
		info2.innerHTML = "";
		bar2.set(0);
		
		info3.innerHTML = "";
		bar3.set(0);
		
		info4.innerHTML = "";
		bar4.set(0);
	}
</script>
</body>
</html>
